@model ShivFactory.Business.Repository.UserProfile
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<script src="~/Js/UserProfile.js"></script>
<div class="col-xl-9 col-lg-9 col-md-9">
    <div class="personal">
        <div class="profile-1 profile-2 hover-1" style="margin-top: 0px; background:white">
            <div class="profile-page">
                <div class="profile-page-1">
                    <div class="_1cyhik">
                        <span class="_1mHr1S">Personal Information</span>
                        <span class="oKZoMV"><a onclick="userprofile.BindBasicDetail()"> Edit </a></span>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="row row-space">
                                <div class="col-4">
                                    <div class="input-group">
                                        <input type="text" class="_1w3ZZo _2mFmU7" id="Name" required="true" autocomplete="name" tabindex="1" value="@Model.FirstName"><label for="name" class="_1osQq7 -FxG57">Name</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group">
                                        <input type="text" class="_1w3ZZo _2mFmU7" id="Name" required="true" autocomplete="name" tabindex="1" value="@Model.LastName"><label for="name" class="_1osQq7 -FxG57">Last Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-4">
                                    <div class="input-group">
                                        <label class="label">Your Gender</label>
                                        <div class="p-t-10">
                                            <label class="radio-container m-r-45">
                                                Male
                                                @Html.RadioButtonFor(m => m.Gender, "Male")
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="radio-container">
                                                Female
                                                @Html.RadioButtonFor(m => m.Gender, "Female")
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> <br><br> <br>
                            <div class="row row-space">
                                <div class="col-5">
                                    <div class="input-group">
                                        <div class="_1cyhik">
                                            <span class="_1mHr1S">Email Address</span>
                                            <span class="oKZoMV"><a onclick="userprofile.BindEmailDetail()">Edit</a></span>
                                            <span class="oKZoMV"><a onclick="userprofile.BindUserPasswordDetails()">Change Password </a></span>
                                        </div>
                                        <div class="input-group">
                                            <input class="_1w3ZZo _2mFmU7" type="email" name="email" placeholder="Email" value="@Model.Email"><label for="name" class="_1osQq7 -FxG57">Email</label>
                                        </div>
                                        </div>
                                </div>
                            </div> <br><br> <br>
                            <div class="row row-space">
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="_1cyhik">
                                            <span class="_1mHr1S">Mobile Number</span>
                                            <span class="oKZoMV"><a onclick="userprofile.BindMobileDetail()">Edit</a></span>
                                        </div>
                                        <div class="input-group">
                                            <input class="_1w3ZZo _2mFmU7" type="text" name="phone" placeholder="Phone Number" value="@Model.Mobile"><label for="name" class="_1osQq7 -FxG57">Mobile</label>
                                        </div>
</div>
                                    </div>
                        </form>
                    </div>


                </div>
            </div>
            <div class="_2Q9A4t _3cEzE7">
                <div class="_2PTLbk">FAQs</div>
            </div>
        </div>
       
    </div>

   
</div>

