@model ShivFactory.Business.Repository.UserProfile
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<script src="~/Js/UserProfile.js"></script>
<div class="col-xl-9 col-lg-9 col-md-9">
    <div class="personal">
        <div class="profile-1 profile-2 hover-1" style="margin-top: 0px; background:white">
            <div class="profile-page">
                <div class="profile-page-1">
                    <div class="_1cyhik">
                        <span class="_1mHr1S">Personal Information</span>
                        <span class="oKZoMV"><a onclick="userprofile.BindBasicDetail()"> Edit </a></span>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="row row-space">
                                <div class="col-4">
                                    <div class="input-group">
                                        <input class="input--style-4" type="text" name="first_name" placeholder="First name" value="@Model.FirstName">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group">
                                        <input class="input--style-4" type="text" name="last_name" placeholder="Last Name" value="@Model.LastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-4">
                                    <div class="input-group">
                                        <label class="label">Your Gender</label>
                                        <div class="p-t-10">
                                            <label class="radio-container m-r-45">
                                                Male
                                                <input type="radio" name="gender" value="Male" checked>
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="radio-container">
                                                Female
                                                <input type="radio" name="gender" value="Female">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> <br><br> <br>
                            <div class="row row-space">
                                <div class="col-5">
                                    <div class="input-group">
                                        <div class="_1cyhik">
                                            <span class="_1mHr1S">Email Address</span>
                                            <span class="oKZoMV"><a onclick="userprofile.BindEmailDetail()">Edit</a></span>
                                            <span class="oKZoMV"><a onclick="userprofile.BindUserPasswordDetails()">Change Password </a></span>
                                        </div>
                                        <input class="input--style-4" type="email" name="email" placeholder="Email" value="@Model.Email">
                                    </div>
                                </div>
                            </div> <br><br> <br>
                            <div class="row row-space">
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="_1cyhik">
                                            <span class="_1mHr1S">Mobile Number</span>
                                            <span class="oKZoMV"><a onclick="userprofile.BindMobileDetail()">Edit</a></span>
                                        </div>
                                        <input class="input--style-4" type="text" name="phone" placeholder="Phone Number" value="@Model.Mobile">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
            <div class="_2Q9A4t _3cEzE7">
                <div class="_2PTLbk">FAQs</div>
            </div>
        </div>
       
    </div>

   
</div>
<script>
    $(document).ready(function () {
        $("input[name='gender'][value='" + @Model.Gender + "']").prop('checked', true);
    });
</script>

