@model ShivFactory.Business.Repository.Admin.ProductBasicInfoResponse
@{
    Layout = null;
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Price and Shipping Charge</h4>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.SalePrice) : @Model.SalePrice
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.ListPrice) : @Model.ListPrice
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.LocalShipingCharge) :  @Model.LocalShipingCharge
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.ZonalShipingCharge) : @Model.ZonalShipingCharge
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.NationalShippingCharge) : @Model.NationalShippingCharge
                                </div>
                            </div>
                            </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Others</h4>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.VendorName) : @Model.VendorName
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.EstimateDeliveryTime) : @Model.EstimateDeliveryTime
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.IsReturnable) : @Model.IsReturnable
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.ReturnDays) : @Model.ReturnDays
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.IsActive) : @Model.IsActive
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>