@model ShivFactory.Business.Repository.UserProfile
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel cardComposite-default">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-6 card-1">
                        <div class="panel panel-default card-detail">
                            <div class="panel-body">
                                <div class="card-content secondary-header">
                                    Display information <span class="pull-right text-primary edit-link" data-config-id="accountDetailsDisplayInfo"><span analytics-on="click" analytics-category="Manage_Profile" analytics-action="edit_display_details_click" analytics-label="edit_display_details">Edit</span></span>
                                </div>

                                <div class="card-content pb20">
                                    <div></div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Display Name</span>

                                        <p>
                                            <span class="help-text">@Model.FirstName &nbsp;@Model.LastName</span>
                                            <span class="icon icon-success"></span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Email</span>

                                        <p>
                                            <span class="help-text">@Model.Email  </span>
                                        </p>
                                    </div>

                                    <div class="colo-md-12">
                                        <span class="help-text light">Mobile</span>

                                        <p>
                                            <span class="help-text">@Model.Mobile  </span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Address</span>

                                        <p>
                                            <span class="help-text">@Model.Address  </span>
                                        </p>
                                    </div>

                                    <div class="colo-md-12">
                                        <span class="help-text light"> Profile Image</span>

                                        <p>
                                            <span class="help-text">@Model.Email  </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-center load-more" style="display: none;">
                                <span class="load-more-text more">
                                    More
                                    <i class="fa fa-angle-down"></i>
                                </span>
                                <span class="load-more-text less">
                                    Less
                                    <i class="fa fa-angle-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 card-1">
                        <div class="panel panel-default card-detail">
                            <div class="panel-body">
                                <div class="card-content secondary-header">
                                    Vendor Details
                                </div>

                                <div class="card-content pb20">
                                    <div></div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Business Name</span>

                                        <p class="help-text">
                                            @Model.FirmName
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">GST</span>

                                        <p class="help-text">
                                            @Model.GSTIN
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">PAN</span>

                                        <p class="help-text">
                                            @Model.PanNo
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Address Line1</span>

                                        <p class="help-text">
                                            @Model.Address
                                        </p>
                                    </div>

                                    <div class="colo-md-12">
                                        <span class="help-text light">Pincode</span>

                                        <p class="help-text">
                                            123456
                                        </p>
                                    </div>

                                    <div class="colo-md-12">
                                        <span class="help-text light">Pick Up City</span>

                                        <p class="help-text">
                                            @Model.City
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-center load-more" style="display: none;">
                                <span class="load-more-text more">
                                    More
                                    <i class="fa fa-angle-down"></i>
                                </span>
                                <span class="load-more-text less">
                                    Less
                                    <i class="fa fa-angle-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 card-1">
                        <div class="panel panel-default card-detail">
                            <div class="panel-body">
                                <div class="card-content secondary-header">
                                    Login Details <span class="pull-right text-primary edit-link" data-config-id="accountLoginInfo"><span analytics-on="click" analytics-category="Manage_Profile" analytics-action="change_password_click" analytics-label="change_password_account">Change Password</span></span>
                                </div>

                                <div class="card-content pb20">
                                    <div></div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Display Name</span>

                                        <p>
                                            <span class="help-text">Shiv Factory </span>
                                            <span class="icon icon-success"></span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Your Mobile Number</span>

                                        <p>
                                            <span class="help-text">+9876543210 </span>
                                            <span class="icon icon-success"></span>
                                            <span class="pull-right text-primary field-edit-link verify-detail" data-config-id="registered_phone" data-id="+919782265250" analytics-on="click" data-emailid="rituvashisth92@gmail.com" analytics-category="Manage_Profile" analytics-action="edit_registered_phone_click" analytics-label="edit_registered_phone">
                                                EDIT
                                                <span class="spinner" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Your Email address</span>

                                        <p>
                                            <span class="help-text">shivfactory@gmail.com </span>
                                            <span class="icon icon-success"></span>
                                            <span class="pull-right text-primary field-edit-link verify-detail" data-config-id="registered_email" data-id="rituvashisth92@gmail.com" analytics-on="click" data-emailid="" analytics-category="Manage_Profile" analytics-action="edit_registered_email_click" analytics-label="edit_registered_email">
                                                EDIT
                                                <span class="spinner" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Password</span>

                                        <p>
                                            <span class="help-text">***** </span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="panel-footer text-center load-more" style="display: none;">
                                <span class="load-more-text more">
                                    More
                                    <i class="fa fa-angle-down"></i>
                                </span>
                                <span class="load-more-text less">
                                    Less
                                    <i class="fa fa-angle-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 card-1" id="menu-3">
                        <div class="panel panel-default card-detail">
                            <div class="panel-body">
                                <div class="card-content secondary-header">
                                    Contact Details <span class="pull-right text-primary edit-link" data-config-id="accountPrimaryContactInfo"><span analytics-on="click" analytics-category="Manage_Profile" analytics-action="edit_primary_contact_click" analytics-label="edit_primary_contact">Edit</span></span>
                                </div>

                                <div class="card-content pb20">
                                    <div></div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Your Name</span>

                                        <p>
                                            <span class="help-text">Shiv Factory </span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Your Mobile Number</span>

                                        <p>
                                            <span class="help-text">+919876543210 </span>
                                            <span class="icon icon-success"></span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Your Email address</span>

                                        <p>
                                            <span class="help-text">shivfactory@gmail.com </span>
                                            <span class="icon icon-success"></span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Preferred Time slot for calls</span>

                                        <p>
                                            <span class="help-text">
                                                10:00
                                                to 18:00
                                            </span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Preferred Language</span>

                                        <p>
                                            <span class="help-text">English </span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="panel-footer text-center load-more">
                                <span class="load-more-text more">
                                    More
                                    <i class="fa fa-angle-down"></i>
                                </span>
                                <span class="load-more-text less">
                                    Less
                                    <i class="fa fa-angle-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-sm-6 card-1" id="menu-3">
                        <div class="panel panel-default card-detail">
                            <div class="panel-body">
                                <div class="card-content secondary-header">
                                    Bank Details <span class="pull-right text-primary edit-link" data-config-id="accountPrimaryContactInfo"><span analytics-on="click" analytics-category="Manage_Profile" analytics-action="edit_primary_contact_click" analytics-label="edit_primary_contact">Edit</span></span>
                                </div>

                                <div class="card-content pb20">
                                    <div></div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Account Holder Name</span>

                                        <p>
                                            <span class="help-text">Shiv Factory </span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Account Number</span>

                                        <p>
                                            <span class="help-text">+919876543210 </span>
                                            <span class="icon icon-success"></span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">IFSC code</span>

                                        <p>
                                            <span class="help-text">ABC0000321 </span>
                                            <span class="icon icon-success"></span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">City</span>

                                        <p>
                                            <span class="help-text">
                                               JAIPUR
                                            </span>
                                        </p>
                                    </div>
                                    

                                </div>
                            </div>
                         
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(".load-more").click(function (e) {
            e.stopPropagation();
            $("#menu-3 .card-detail").toggleClass("show-more");
        });

</script>