@using ShivFactory.Business.Repository;
@using ShivFactory.Business.Models.Other;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    RepoCookie repoCookie = new RepoCookie();
    var role = repoCookie.GetStringCookiesValue(CookieName.Role);
}


<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel cardComposite-default">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-6 card-1">
                        <div class="panel panel-default card-detail">
                            <div class="panel-body">
                                <div class="card-content secondary-header">
                                    Basic information <span class="pull-right text-primary edit-link" data-config-id="accountDetailsDisplayInfo"><span analytics-on="click" analytics-category="Manage_Profile" analytics-action="edit_display_details_click" analytics-label="edit_display_details" onclick="profile.BindBasicDetail();">Edit</span></span>
                                </div>

                                <div class="card-content pb20">
                                    <div></div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Display Name</span>

                                        <p>
                                            <span class="help-text">@Model.FirstName &nbsp;@Model.LastName</span>
                                            <span class="icon icon-success"></span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Gender</span>

                                        <p>
                                            <span class="help-text">@Model.Gender  </span>
                                        </p>
                                    </div>

                                    @*<div class="colo-md-12">
                                            <span class="help-text light">Mobile</span>

                                            <p>
                                                <span class="help-text">@Model.Mobile  </span>
                                            </p>
                                        </div>*@
                                    <div class="colo-md-12">
                                        <span class="help-text light">Address</span>

                                        <p>
                                            <span class="help-text">@Model.Address  </span>
                                        </p>
                                    </div>


                                </div>
                            </div>
                            <div class="panel-footer text-center load-more" style="display: none;">
                                <span class="load-more-text more">
                                    More
                                    <i class="fa fa-angle-down"></i>
                                </span>
                                <span class="load-more-text less">
                                    Less
                                    <i class="fa fa-angle-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-sm-6 card-1">
                        <div class="panel panel-default card-detail">
                            <div class="panel-body">
                                <div class="card-content secondary-header">
                                    Security <span class="pull-right text-primary edit-link" data-config-id="accountInfo"><span analytics-on="click" analytics-category="Manage_Profile" analytics-action="change_password_click" analytics-label="change_password_account" onclick="profile.BindUserPasswordDetails();">Change Password</span></span>
                                </div>

                                <div class="card-content pb20">
                                    <div></div>

                                    <div class="colo-md-12">
                                        <span class="help-text light">Your Mobile Number</span>

                                        <p>
                                            <span class="help-text">@Model.Mobile </span>
                                            <span class="icon icon-success"></span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Your Email address</span>
                                        <p>
                                            <span class="help-text">@Model.Email </span>
                                            <span class="icon icon-success"></span>
                                        </p>
                                    </div>
                                    <div class="colo-md-12">
                                        <span class="help-text light">Password</span>
                                        <p>
                                            <span class="help-text">***** </span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="panel-footer text-center load-more" style="display: none;">
                                <span class="load-more-text more">
                                    More
                                    <i class="fa fa-angle-down"></i>
                                </span>
                                <span class="load-more-text less">
                                    Less
                                    <i class="fa fa-angle-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>


                    @{
                        if (role == UserRoles.Vendor)
                        {

                            <div class="col-md-4 col-lg-4 col-sm-6 card-1" id="vendorCard">
                                <div class="panel panel-default card-detail">
                                    <div class="panel-body">
                                        <div class="card-content secondary-header">
                                            Vendor Details<small class="ml-4 text-muted"><i class="mdi mdi-clock mr-1"></i>Verification Pending</small><span class="pull-right text-primary edit-link" data-config-id="accountDetailsDisplayInfo"><span analytics-on="click" onclick="profile.BindVendorDetail();">Edit</span></span>
                                        </div>

                                        <div class="card-content pb20">
                                            <div></div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">Business Name</span>

                                                <p class="help-text">
                                                    @Model.FirmName
                                                </p>
                                            </div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">GST</span>

                                                <p class="help-text">
                                                    @Model.GSTIN
                                                </p>
                                            </div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">PAN</span>

                                                <p class="help-text">
                                                    @Model.PanNo
                                                </p>
                                            </div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">Address Line1</span>

                                                <p class="help-text">
                                                    @Model.FullAddress
                                                </p>
                                            </div>

                                            <div class="colo-md-12">
                                                <span class="help-text light">Pincode</span>

                                                <p class="help-text">
                                                    @Model.PIN

                                                </p>
                                            </div>

                                            <div class="colo-md-12">
                                                <span class="help-text light">Pick Up City</span>

                                                <p class="help-text">
                                                    @Model.City
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-center load-more" id="vendorBtn">
                                        <span class="load-more-text more">
                                            More
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                        <span class="load-more-text less">
                                            Less
                                            <i class="fa fa-angle-up"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-lg-4 col-sm-6 card-1" id="Contact">
                                <div class="panel panel-default card-detail">
                                    <div class="panel-body">
                                        <div class="card-content secondary-header">
                                            Contact Details <span class="pull-right text-primary edit-link" data-config-id="accountPrimaryContactInfo"><span analytics-on="click" analytics-category="Manage_Profile" analytics-action="edit_primary_contact_click" analytics-label="edit_primary_contact"></span></span>
                                        </div>

                                        <div class="card-content pb20">
                                            <div></div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">Your Name</span>

                                                <p>
                                                    <span class="help-text">@Model.FirmName </span>
                                                </p>
                                            </div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">Your Mobile Number</span>

                                                <p>
                                                    <span class="help-text">@Model.Mobile </span>
                                                    <span class="icon icon-success"></span>
                                                </p>
                                            </div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">Your Email address</span>

                                                <p>
                                                    <span class="help-text">@Model.Email </span>
                                                    <span class="icon icon-success"></span>
                                                </p>
                                            </div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">Preferred Time slot for calls</span>

                                                <p>
                                                    <span class="help-text">
                                                        10:00
                                                        to 18:00
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">Preferred Language</span>

                                                <p>
                                                    <span class="help-text">English </span>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="panel-footer text-center load-more" id="contactBtn">
                                        <span class="load-more-text more">
                                            More
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                        <span class="load-more-text less">
                                            Less
                                            <i class="fa fa-angle-up"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-lg-4 col-sm-6 card-1">
                                <div class="panel panel-default card-detail">
                                    <div class="panel-body">
                                        <div class="card-content secondary-header">
                                            @*@{ @Model.IsActiveBank == null ? "Verification Pending" : "Verified"}*@
                                            Bank Details  <small class="ml-4 text-muted"><i class="mdi mdi-clock mr-1"></i>Verification Pending</small><span class="pull-right text-primary edit-link" data-config-id="accountPrimaryContactInfo"><span analytics-on="click" analytics-category="Manage_Profile" analytics-action="edit_primary_contact_click" analytics-label="edit_primary_contact" onclick="profile.BindVendorBankDetails()">Edit</span></span>
                                        </div>

                                        <div class="card-content pb20">
                                            <div></div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">Account Holder Name</span>

                                                <p>
                                                    <span class="help-text">@Model.AccountHolderName </span>
                                                </p>
                                            </div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">Account Number</span>

                                                <p>
                                                    <span class="help-text">@Model.AccountNumber</span>
                                                    <span class="icon icon-success"></span>
                                                </p>
                                            </div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">IFSC code</span>

                                                <p>
                                                    <span class="help-text">@Model.IFSCCode </span>
                                                    <span class="icon icon-success"></span>
                                                </p>
                                            </div>
                                            <div class="colo-md-12">
                                                <span class="help-text light">Bank Name</span>

                                                <p>
                                                    <span class="help-text">
                                                        @Model.BankName
                                                    </span>
                                                </p>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#vendorBtn").click(function (e) {
        e.stopPropagation();
        $("#vendorCard .card-detail").toggleClass("show-more");
    });

    $("#contactBtn").click(function (e) {
        e.stopPropagation();
        $("#Contact .card-detail").toggleClass("show-more");
    });

</script>
