@model List<ShivFactory.Business.Repository.AutoCompleteResponse>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_WebSiteLayout.cshtml";
}
<script src="~/Js/Cart.js"></script>




<section>
    <input type="hidden" id="Total-Pages" value="0" />
    <input type="hidden" id="Current-Page" value="1" />
    <input type="hidden" id="CategoryId" value="@ViewBag.CategoryId" />
    <input type="hidden" id="SubCategoryId" value="@ViewBag.SubCategoryId" />
    <input type="hidden" id="MiniCategoryId" value="@ViewBag.MiniCategoryId" />
    <div class="_36fx1h _6t1WkM _3HqJxg">
        <div class="_1YokD2 _2GoDe3">
            <!-- ============================  FILTER Side START  ================================= -->
            <div class="_1YokD2 _3Mn1Gg mobile-size _1YokD2-1" style="flex: 0 0 280px; max-width: 280px; padding: 0px 10px 0px 0px;">
                <div class="_1YokD2 _3Mn1Gg col-12-12">
                    <div class="_1AtVbE col-12-12">
                        <div class="_1KOcBL" id="product-Filter">
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================ FILTER Side END.// ================================= -->


            <div class="_1YokD2 _3Mn1Gg" style="flex-grow: 1; overflow: auto;">
                <!-- ============================  Bread Crumb START  ================================= -->
                <div class="_1YokD2 _2GoDe3 col-12-12" style="background-color: rgb(255, 255, 255); align-items: flex-end;">
                    <div class="_1AtVbE" style="flex-grow: 1; overflow: auto;">
                        <div class="W_R1IA">
                            <div class="_1MR4o5 mobile-size">
                                <div class="_3GIHBu">
                                    <a class="_2whKao" href="/">Home</a>
                                    <svg width="16" height="27" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="_39X-Og"><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="DpXnhQ"></path></svg>
                                </div>
                                <div class="_3GIHBu">
                                    <a class="_2whKao" href="/Home/ProductListing">View All</a>
                                    <svg width="16" height="27" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="_39X-Og"><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="DpXnhQ"></path></svg>
                                </div>
                                @{int i = 1;}
                                @foreach (var bread in Model)
                                {
                                    var url = "#";
                                    if (i == 1) { url = "/Home/ProductListing?id=" + bread.Id; }
                                    else if (i == 2) { url = "/Home/ProductListing?subId=" + bread.Id; }
                                    else if (i == 3) { url = "/Home/ProductListing?minId=" + bread.Id; }

                                    <div class="_3GIHBu">
                                        <a class="_2whKao" href="@url">@bread.Value</a>
                                        <svg width="16" height="27" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="_39X-Og"><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="DpXnhQ"></path></svg>
                                    </div>
                                    i++;
                                }



                            </div>


                            <span class="_10Ermr mobile-size"><span id="itemcount"></span> results for "<span id="itemName"></span>"</span>

                            <div class="_5THWM1 nav mobile-size">
                                <span class="_2i7N3j mobile-size">Sort By</span>
                                <div class="_10UF8M active show" data-toggle="tab" onclick="Listing.ApplySorting(this)">Relevance</div>
                                <div class="_10UF8M" data-toggle="tab" onclick="Listing.ApplySorting(this)">Popularity</div>
                                <div class="_10UF8M" sort="PLH" data-toggle="tab" onclick="Listing.ApplySorting(this)">Price -- Low to High</div>
                                <div class="_10UF8M" sort="PHL" data-toggle="tab" onclick="Listing.ApplySorting(this)">Price -- High to Low</div>
                                <div class="_10UF8M" sort="NEW" data-toggle="tab" onclick="Listing.ApplySorting(this)">Newest First</div>
                            </div>


                            <div class="css-1dbjc4n r-1awozwy r-13awgt0 r-18u37iz r-h3s6tt r-1777fci destop-size https://static-assets-web.flixcart.com/www/linchpin/batman-returns/images/fk-default-image-75ff340b.png?q=90">
                                <div class="row">
                                    <div class="col-md-6 col-6" style="padding:0px;margin: 0 auto;">
                                        <div class="short-1" style="margin: 0 auto; width: 50%; margin-top: 18px;">
                                            <div style="display:flex;position:relative;margin-right:8px;resize-mode:contain;height:24px;width:24px;display: inline-block;float: left;">
                                                <img src="https://rukminim1.flixcart.com/www/80/80/promos/10/04/2019/d775ea02-5588-4cda-95ad-1ae03bb67e17.png?q=90" style="width:100%;height:100%;margin:auto;object-fit:contain;opacity:1" loading="lazy" alt="">
                                            </div>
                                            <div dir="auto" class="css-901oao r-op4f77 r-1wbh5a2 r-1vgyyaa r-1b43r93 r-1rsjblm" style="color: #000;font-size: 14px;font-weight: 500; padding-top: 4px;">Sort</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6" style="padding:0px;margin: 0 auto;">
                                        <div class="short-2" style="margin: 0 auto;width: 50%;margin-top: 18px;">
                                            <div style="display:flex;position:relative;margin-right:8px;resize-mode:contain;height:24px;width:24px;display: inline-block;float: left;">
                                                <img src="https://rukminim1.flixcart.com/www/80/80/promos/10/04/2019/62f36a1e-caf6-4433-a848-2adb7e164a4d.png?q=90" style="width:100%;height:100%;margin:auto;object-fit:contain;opacity:1" loading="lazy" alt="">
                                            </div>
                                            <div dir="auto" class="css-901oao r-op4f77 r-1wbh5a2 r-1vgyyaa r-1b43r93 r-1rsjblm" style="color: #000;font-size: 14px;font-weight: 500; padding-top: 4px;">Filter</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================ Bread Crumb END.// ================================= -->



                <div class="tab-content">
                    <div class="_1AtVbE col-12-12" id="ListScroll" style="max-height: 1000px; overflow: auto; width: 100%">
                        <div class="_13oc-S row tab-pane fade active show" id="partialViewListing">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<!--<section class="section-content padding-y">


    <div class="banner-pt">



        <div class="row">


            <main class="col-md-10 right-list">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade active  in">
                        <section>
                            <article class="card-product-list">
                                <div class="mr-md-auto">

                                </div>
                                <div id="ListScroll" style="height: 1000px; overflow: auto; width: 100%">
                                    <div class="row" id="partialViewListing">

                                    </div>
                                </div>-->
<!-- row.// -->
<!--</article>

                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>-->

<script type="text/javascript">
    $(document).ready(function () {
        Listing.OnPageLoad();
    });

    $('#ListScroll').bind('scroll', function () {
        if ($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight) {
           
            var pageIndex = $('#Current-Page').val();
            if (pageIndex == 0) { pageIndex = 1; } else { pageIndex++; }
            let totalPage = $('#Total-Pages').val();
            if (pageIndex <= totalPage) {
                Listing.GetRecords(pageIndex);
            }
        }
    });

    $(document).ready(function () {
        $(".short-1").click(function () {
            $("._5THWM1 ").toggleClass("_2rbIyg-1");
        });
        $("._10UF8M").click(function () {
            $("._5THWM1").removeClass("_2rbIyg-1");
        });
        $(".short-2").click(function () {
            $("._5THWM1").removeClass("_2rbIyg-1");
        });
    });
    $(document).ready(function () {
        $(".short-2").click(function () {
            $("._1YokD2-1 ").addClass("_2rbIyg-2");
        });
        $(".r-jwli3a").click(function () {
            $("._1YokD2-1").removeClass("_2rbIyg-2");
        });
    });

</script>
