@model List<ShivFactory.Business.Repository.Website.MenuResponse>
@{
    ViewBag.Title = "CategoryPartialview";
}

<ul class="navbar-nav m-auto">
    @foreach (var a in Model)
    {
        if (a.SubCategory.Count == 0 || a.SubCategory == null)
        {
            <li class="nav-item">
                <a class="nav-link" href="~/Home/ProductListing?id=@a.Id">
                    <div class="_1mkliO">
                        <div class="CXW8mj" style="height: 64px; width: 64px;">
                            <img class="_396cs4  _3exPp9" alt="Mobiles" src="@a.ImagePath">
                        </div>
                    </div>
                    @a.Name
                </a>
            </li>
        }
        else
        {
            <li>
                <div class="drop-hover">
                    <ul>
                        <li>
                            <a class="nav-link dropdown-toggle" href="~/Home/ProductListing?id=@a.Id" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="_1mkliO">
                                    <div class="CXW8mj" style="height: 64px; width: 64px;">
                                        <img class="_396cs4  _3exPp9" alt="Mobiles" src="@a.ImagePath">
                                    </div>
                                </div>
                                @a.Name
                            </a>
                            <ul>
                                @foreach (var b in a.SubCategory)
                                {
                                    string aarrowcls = b.MiniCategory != null && b.MiniCategory.Count > 0 ? "fa fa-angle-right" : "";
                                    bool isParent = b.MiniCategory != null && b.MiniCategory.Count > 0 ? true : false;
                                    <li>
                                        <a href="~/Home/ProductListing?subId=@b.Id"> @b.Name <i class="@aarrowcls" aria-hidden="true"></i></a>
                                        @if (isParent == true)
                                        {
                                            <ul>
                                                @foreach (var c in b.MiniCategory)
                                                {
                                                    aarrowcls = c.MiniCategory != null && c.MiniCategory.Count > 0 ? "fa fa-angle-right" : "";
                                                    isParent = c.MiniCategory != null && c.MiniCategory.Count > 0 ? true : false;
                                                    <li><a href="~/Home/ProductListing?subId=@b.Id&minId=@c.Id">@c.Name<i class="@aarrowcls" aria-hidden="true"></i></a></li>
                                                    if (isParent == true)
                                                    {
                                                        <ul>
                                                            @foreach (var d in c.MiniCategory)
                                                            {
                                                                <li><a href="~/Home/ProductListing?subId=@b.Id&minId=@c.Id">deep 1</a></li>
                                                            }
                                                        </ul>
                                                    }
                                                }
                                            </ul>
                                        }

                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
        }

    }

</ul>
<script>
    $('.dropdown-toggle').click(function (e) {
        if ($(document).width() > 767) {
            e.preventDefault();
            var url = $(this).attr('href');
            if (url !== '#') {
                window.location.href = url;
            }
        }
    });
</script>