@using ShivFactory.Models
@model ShivFactory.Business.Repository.VendorRegister
@{
    ViewBag.Title = "Create Your Seller Account";
    Layout = "~/Views/Shared/_Accounts_Layout.cshtml";
}
 
            <div class="sc-fzojmp kyojis">
                <div class="sc-fzqbkg fckjvf">
                    <div class="sc-fzqpzz gliaon">Create your Seller Account</div>
                    <div class="sc-fzpkqz foxupi">
                        @using (Html.BeginForm("MobileVerify", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "otpform" }))
                        {
                            <div class="sc-fzoxkx craeze">

                                <button class="labelbtn">+91 - </button>
                                <div class="style-elementwrapper ijsebp wrapper">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "styles-styledinput gezlls quantity", @placeholder = "Enter Your Mobile Number", @type = "number", @maxlength = "10", @oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", @style = "padding: 0px 105px 0px 40px;" })

                                    <div class="sc-fzqmdd fzqonm freebie">
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "sc-fzqmdd fzqonm freebie" })
                                    </div>
                                </div>
                                <div class="style-elementwrapper ijsebp">
                                    <button type="submit" class="basebutton primarybtn-primarybtndetails eazyuu showbtn">Send OTP</button>
                                </div>
                            </div>
                        }
                        @using (Html.BeginForm("RegisterVendorAsync", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "regiterfrom" }))
                        {

                    <div class="sc-fzoxkx craeze">

                        @Html.HiddenFor(model => model.isOTPSend)
                        @Html.HiddenFor(model => model.PhoneNumber)
                        @{

                                                <div class="sc-fzoxkx craeze">

                                                    @{ var displaytimer = "display:none";
                                                        if (Model != null && Model.isOTPSend.Equals(true))
                                                        {
                                                            displaytimer = "display:visible";
                                                        }
                                                    }

                                                    <div class="style-elementwrapper ijsebp wrapper">
                                                        @Html.TextBoxFor(m => m.code, new { @class = "styles-styledinput gezlls quantity", @placeholder = "Enter OTP", @type = "number",  @style = "padding: 0px 105px 0px 40px;" })

                                                        <div class="sc-fzqmdd fzqonm freebie">
                                                            @Html.ValidationMessageFor(model => model.code, "", new { @class = "sc-fzqmdd fzqonm freebie" })
                                                        </div>
                                                    </div>
                                                   <div class="style-elementwrapper ijsebp">
                                                        <span class="basebutton primarybtn-primarybtndetails eazyuu showbtn" id="timer" style="@displaytimer"></span>
                                                    </div>
                                                </div>
                           

                        }
                    </div>

                           
                            <div class="style-elementwrapper ijsebp wrapper">
                                @Html.TextBoxFor(m => m.EmailId, new { @class = "styles-styledinput gezlls", @placeholder = "Enter Your Email Address", @type = "text" })
                             
                                <div class="error-formerror myzbk form-error">
                                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "sc-fzqmdd fzqonm freebie" })
                                </div>
                            </div>
                          
                            <div class="style-elementwrapper ijsebp wrapper">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "styles-styledinput gezlls", @placeholder = "Enter Your Full Name", @type = "text" })
                              
                                <div class="error-formerror myzbk form-error">
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "sc-fzqmdd fzqonm freebie" })
                                </div>
                            </div>
                          
                            <div class="sc-fzoxkx craeze">
                            </div>
                            <div class="sc-fznyyp kdoamq">
                                <div class="sc-fzqaui eogdzk">
                                    By filling this form, I agree to <a class="baselink-sc tertiarylink-sc enzijk" style="cursor: pointer;">Terms of Use</a>
                                </div>
                            </div>
                                    var display = Model != null && Model.isOTPSend == true ? "" : "disabled";
                            <button @display  class="basebutton primarybtn-primarybtndetails eazyuu save" type="submit" style=" height: 40px; padding-left: 15px; padding-right: 16px; text-transform: uppercase;">Sign Up</button>
                        
                        }
                        <div class="sc-fzpiso jhqzjv">
                            <div class="sc-fzqaui eogdzk">
                                Already a Seller? <a href="#" class="baselink-sc tertiarylink-sc enzijk">Login Here</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="sc-fazpkjw hctkjm">
                    <div>
                        <div class="sc-fzokki knkljw">Sell to crores of customers on Shiv Factory, right from your doorstep!</div>
                        <div class="sc-fzoyki hfpotr">All you need to sell on Shiv Factory is</div>
                        <div class="sc-fznzof jxqfab">
                            <div class="sc-fzoyhe gxatj">
                                <div class="imp-icon">
                                    <img src="/Content/AdminImg/gstin.png">
                                    <div class="gstin-label">GSTIN*</div>
                                </div>


                            </div>
                            <div class="sc-fzqmaw himzko">
                            </div>
                            <div class="sc-fzoyhe gxatj">
                                <div class="imp-icon">
                                    <img src="/Content/AdminImg/bank-account.png">
                                    <div class="gstin-label">Bank Account</div>
                                </div>

                            </div>
                            <div class="sc-fzqmaw himzko"></div>
                            <div class="sc-fzoyhe gxatj">
                                <div class="imp-icon">
                                    <img src="/Content/AdminImg/products-sell.png">
                                    <div class="gstin-label">Products to sell</div>
                                </div>
                            </div>
                        </div>
                        <span class="sc-fznmnq bivoqy">*GSTIN is not required for sellers who only sell books</span>
                        <div class="sc-fzoydu ctzjfv"></div>
                        <div class="sc-fzoyki hfpotr">How will this information be used?</div>
                        <div class="sc-fzqabl hculgs">
                            You can use your email address or mobile number as 'Username' to login to your  Seller Account.
                            Please note, the 'Username' and 'Password' used here are only to access your  Seller Account and can’t be used on ShivFactory shopping destination.
                        </div>
                        <div class="sc-fzoydu ctzjfv">
                        </div>
                    </div>
                </div>
            </div>
   
<script>
    $(document).ready(function () {
        common.Timer(120, 'timer', true);
    });
</script>