@model ShivFactory.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Accounts_Layout.cshtml";
}



<div class="sc-fzojmp kyojis">
    <div class="sc-fzqbkg fckjvf">
        <div class="sc-fzqpzz gliaon">Update Password</div>
        <div class="sc-fzpkqz foxupi">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="sc-fzoxkx craeze">


                    <div class="style-elementwrapper ijsebp wrapper">

                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "styles-styledinput gezlls quantity", @placeholder = "Enter phone number" })

                    </div>
                    <div class="style-elementwrapper ijsebp wrapper">
                    

                        @Html.PasswordFor(m => m.Password, new { @class = "styles-styledinput gezlls quantity", @placeholder = "Enter new password" })

                    </div>
                    <div class="style-elementwrapper ijsebp wrapper">
                        

                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "styles-styledinput gezlls quantity",@placeholder = " Confirm  password" })

                    </div>
                    <div class="form-group">
                        <div class="style-elementwrapper ijsebp">
                            <input type="submit" class="basebutton primarybtn-primarybtndetails eazyuu save" value="Reset" />
                        </div>
                    </div>


                </div>
            }
        </div>
    </div>

    <div class="sc-fazpkjw hctkjm">
        <div>
            <div class="sc-fzokki knkljw">Sell to crores of customers on Shiv Factory, right from your doorstep!</div>
            <div class="sc-fzoyki hfpotr">All you need to sell on Shiv Factory is</div>
            <div class="sc-fznzof jxqfab">
                <div class="sc-fzoyhe gxatj">
                    <div class="imp-icon">
                        <img src="/Content/AdminImg/gstin.png">
                        <div class="gstin-label">GSTIN*</div>
                    </div>


                </div>
                <div class="sc-fzqmaw himzko">
                </div>
                <div class="sc-fzoyhe gxatj">
                    <div class="imp-icon">
                        <img src="/Content/AdminImg/bank-account.png">
                        <div class="gstin-label">Bank Account</div>
                    </div>

                </div>
                <div class="sc-fzqmaw himzko"></div>
                <div class="sc-fzoyhe gxatj">
                    <div class="imp-icon">
                        <img src="/Content/AdminImg/products-sell.png">
                        <div class="gstin-label">Products to sell</div>
                    </div>
                </div>
            </div>
            <span class="sc-fznmnq bivoqy">*GSTIN is not required for sellers who only sell books</span>
            <div class="sc-fzoydu ctzjfv"></div>
            <div class="sc-fzoyki hfpotr">How will this information be used?</div>
            <div class="sc-fzqabl hculgs">
                You can use your email address or mobile number as 'Username' to login to your  Seller Account.
                Please note, the 'Username' and 'Password' used here are only to access your  Seller Account and can’t be used on ShivFactory shopping destination.
            </div>
            <div class="sc-fzoydu ctzjfv">
            </div>
        </div>
    </div>
</div>
    </div>
            @*@section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }*@
