@model ShivFactory.Business.Repository.CategoryModel
@{
    ViewBag.Title = "Add New Category";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <div class="row grid-margin">
                                <div class="col-12">
                                    <div class="wrapper d-flex" style=" text-align: start;">
                                        <a class="btn btn-sm btn-gradient-primary mr-2" href="~/Admin/Admin/Category">  Back to List </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper border-top">
                            <div class="card-body">
                                @using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", id = "myform", @class = "forms-sample" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label>Category Name</label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label>IsActive</label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.CheckBoxFor(x => x.IsActive.Value, new {@checked=Model.IsActive, @style = "height: 30px; width:30px;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3">
                                            <label>File upload</label>
                                            <input type="file" name="img[]" class="file-upload-default">
                                        </div>
                                        <div class="ajax-file-upload-container col-lg-8">
                                            @Html.TextBoxFor(model => model.PostedFile, new { @class = "form-control file-upload-info", type = "file", accept = "image/*" })
                                            @Html.ValidationMessageFor(model => model.PostedFile, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                    @Html.HiddenFor(model => model.CategoryId)
                                    @Html.HiddenFor(model => model.ImagePath)

                                    <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                    <button class="btn btn-light" type="reset">Cancel</button>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>










