@model IEnumerable <ShivFactory.Business.Model.CategoryModel>
@{
    ViewBag.Title = "CategoryPartialView";
}

<p class="card-description">
    Category list
</p>
<table class="table table-bordered" id="example">
    <thead>
        <tr>
            <th>Sr No.</th>
            <th>Category Name</th>
            <th>Category Image</th>
            <th>Add Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
        @{int i = 1;
            foreach (var item in Model)
            {
                <tr class="table-info">
                    <td>@i</td>
                    <td>@item.CategoryName</td>
                    <td align="center"><a href="@Url.Content(@item.CatImage)" target="_blank"><img src="@item.CatImage" alt="" style="height:40px;width:40px;" /></a></td>
                    <td>@item.Adddate</td>
                    <td class="center">
                        @*<a href="#" class="btn btn-primary bindPopupModal" data-toggle="modal" data-target="#exampleModal" data-ajaxurl="@Url.Action("AddCategory", "Admin", new { id = item.ID })">Edit</a>*@
                        @Html.ActionLink("Edit", "AddCategory", new { id = item.ID })
                        @Html.ActionLink("Delete", "DeleteCategory", new { @class = "fa fa-trash", id = item.ID }, new { onclick = "return confirm('Are you sure you wish to delete this article?');" })
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>


@*<script type="text/javascript">
    $(document).ready(function () {
       if('@TempData["message"]' == "Added"){
          toastr.success('Added');
       }
       else{ }
    });
</script>*@



