@model ShivFactory.Business.Repository.Admin.ProductDimensionResponse
@{
    Layout = null;
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Product</h4>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.ProductLength) : @Model.ProductLength
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.ProductWidth) : @Model.ProductWidth
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.ProductHeight) : @Model.ProductHeight
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.ProductWeight) :  @Model.ProductWeight
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Package</h4>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.PackageLength) : @Model.PackageLength
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.PackageWidth) : @Model.PackageWidth
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.PackageHeight) : @Model.PackageHeight
                                </div>
                                <div class="form-group">
                                    @Html.NameFor(m => Model.PackageWeight) :  @Model.PackageWeight
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>